
<div id="container">
    <button *ngIf="user.role == 'admin' || user.role == 'user'"  mat-raised-button class="add-button" color="accent" (click)="openDialog()">
        <!-- *ngIf="user.role == 'admin' || user.role == 'user'" -->
        <mat-icon>add</mat-icon>
        Agregar
    </button>
    <div class="" id="">
        <mat-form-field appearance="outline" class="search-bar">
            <mat-label>Filtrar</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ej. gomas" #input>
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>

        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>

                <!-- name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                    <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                </ng-container>

                <!-- category Column -->
                <ng-container matColumnDef="category">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Categoría </th>
                    <td mat-cell *matCellDef="let row"> {{row.category}} </td>
                    <!-- <td mat-cell *matCellDef="let row"> {{row.category}}% </td> %%%%-->
                </ng-container>

                <!-- date Column -->
                <ng-container matColumnDef="date" >
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
                    <td mat-cell *matCellDef="let row"> {{row.date | date}} </td>
                </ng-container>

                <!-- size Column -->
                <ng-container matColumnDef="size">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tamaño </th>
                    <td mat-cell *matCellDef="let row"> {{row.size}} </td>
                </ng-container>

                <!-- price column -->
                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio $ </th>
                    <td mat-cell *matCellDef="let row"> {{row.price | currency}} </td>
                    <!-- <td mat-cell *matCellDef="let row"> {{row.price }}$ </td> -->
                </ng-container>

                <!-- commentary column -->
                <ng-container matColumnDef="commentary">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Comentarios..</th>
                    <td mat-cell *matCellDef="let row"> {{row.commentary}} </td>
                </ng-container>


                <!-- delete or update column -->
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Acción </th>
                    <td mat-cell *matCellDef="let row">
                        <button *ngIf="user.role == 'admin'"  mat-icon-button color="primary"  (click)="edit(row)" ><!--  *ngIf="user.role == 'admin'"-->
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button *ngIf="user.role == 'admin'" mat-icon-button color="warn" (click)="delete(row.id)"><!-- *ngIf="user.role == 'admin'" -->
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No existen coicidencias para:... "{{input.value}}"</td>
                </tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
        </div>

    </div>
</div>

<div class="space">
    <br><br><br>
    <a href="https://github.com/JoseCorreaMorales" target="_blank" class="authors"><mat-icon> code_blocks</mat-icon> Ver Autor &hearts; </a>
    📌 📏 📐 ✂
    <br><br><br>
    <hr>

  </div>

<div class="footer">
    <p>®Papelería JIM</p>
</div>

